@font-face {
    font-family: "WeatherIcons";
    src: url("/src/weather/font/weathericons-regular-webfont.eot");
    src: url("/src/weather/font/weathericons-regular-webfont.eot?#iefix") format("embedded-opentype"),
         url("/src/weather/font/weathericons-regular-webfont.woff") format("woff"),
         url("/src/weather/font/weathericons-regular-webfont.ttf") format("truetype"),
         url("/src/weather/font/weathericons-regular-webfont.svg#WeatherIcons") format("svg");
    font-weight: normal;
    font-style: normal;
}

.app {
    font-family:'WeatherIcons';
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: #373056;
    color: white;
    transition: background-color 2s ease 1s, color 2s ease 1s;
}

.app[data-time='0'],
.app[data-time='1'],
.app[data-time='2'],
.app[data-time='3'] {
    background-color: #362942;
    color: white;
}

.app[data-time='4'],
.app[data-time='5'],
.app[data-time='6'],
.app[data-time='7'] {
    background-color: #82bfe5;
    color: #2F2F2F;
}

.app[data-time='8'],
.app[data-time='9'],
.app[data-time='10'],
.app[data-time='11'] {
    background-color: #c3e9f7;
    color: #2F2F2F;
}

.app[data-time='12'],
.app[data-time='13'],
.app[data-time='14'],
.app[data-time='15'] {
    background-color: #efad51;
    color: #2F2F2F;
}

.app[data-time='16'],
.app[data-time='17'],
.app[data-time='18'],
.app[data-time='19'] {
    background-color: #a33737;
    color: white;
}

.app[data-time='20'],
.app[data-time='21'],
.app[data-time='22'],
.app[data-time='23'] {
    background-color: #192f49;
    color: white;
}

.weather-icon {
    width: 100px;
    height: 100px;
    font-size: 90px;
    text-align: center;
    margin: 1rem;
}

.weather-details {
    text-align: center;
    text-transform: uppercase;
}

.weather-details .city {
    font-size: 24px;
}

.weather-details .temperature, .weather-details .time, .weather-details .description, description {
    font-size: 48px;
}
